# SHAP Values

In [1]:
import numpy as np
import pandas as pd

# Tree Models
from sklearn.tree import DecisionTreeClassifier

# Splitting Training and Evaluation Data
from sklearn.model_selection import train_test_split

# Model Interpretability
import shap

# Performance Evaluation
from sklearn import metrics

In [2]:
data = pd.read_csv('statistics.csv')
data.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow Card,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-2018,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-2018,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-2018,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-2018,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-2018,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0

In [9]:
data.shape

(128, 27)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    128 non-null    object
 1   Team                    128 non-null    object
 2   Opponent                128 non-null    object
 3   Goal Scored             128 non-null    int64
 4   Ball Possession %       128 non-null    int64
 5   Attempts                128 non-null    int64
 6   On-Target               128 non-null    int64
 7   Off-Target              128 non-null    int64
 8   Blocked                 128 non-null    int64
 9   Corners                 128 non-null    int64
 10  Offsides                128 non-null    int64
 11  Free Kicks              128 non-null    int64
 12  Saves                   128 non-null    int64
 13  Pass Accuracy %         128 non-null    int64
 14  Passes                  128 non-null    int64
 15  Distance Covered (Kms)  128 non-null    int64
 16  Fouls Committed         128 non-null    int64
 17  Yellow Card             128 non-null    int64
 18  Yellow & Red            128 non-null    int64
 19  Red                     128 non-null    int64
 20  Man of the Match        128 non-null    object
 21  1st Goal                94 non-null     float64
 22  Round                   128 non-null    object
 23  PSO                     128 non-null    object
 24  Goals in PSO            128 non-null    int64
 25  Own goals               12 non-null     float64
 26  Own goal Time           12 non-null     float64
dtypes: float64(3), int64(18), object(6)
memory usage: 27.1+ KB

In [4]:
data.isnull().sum()

Date                        0
Team                        0
Opponent                    0
Goal Scored                 0
Ball Possession %           0
Attempts                    0
On-Target                   0
Off-Target                  0
Blocked                     0
Corners                     0
Offsides                    0
Free Kicks                  0
Saves                       0
Pass Accuracy %             0
Passes                      0
Distance Covered (Kms)      0
Fouls Committed             0
Yellow Card                 0
Yellow & Red                0
Red                         0
Man of the Match            0
1st Goal                   34
Round                       0
PSO                         0
Goals in PSO                0
Own goals                 116
Own goal Time             116
dtype: int64

In [10]:
data = data.dropna(axis = 1)
data.shape

(128, 24)

In [13]:
cat_data = data.select_dtypes('object')
cat_data.head()

         Date          Team      Opponent Man of the Match        Round PSO
0  14-06-2018        Russia  Saudi Arabia              Yes  Group Stage  No
1  14-06-2018  Saudi Arabia        Russia               No  Group Stage  No
2  15-06-2018         Egypt       Uruguay               No  Group Stage  No
3  15-06-2018       Uruguay         Egypt              Yes  Group Stage  No
4  15-06-2018       Morocco          Iran               No  Group Stage  No

In [14]:
cat_cols = cat_data.columns.drop('Date')
cat_cols

Index(['Team', 'Opponent', 'Man of the Match', 'Round', 'PSO'], dtype='object')

In [ ]:
data = data[cat_cols].join(data)

In [ ]:
model = DecisionTreeClassifier(random_state = 22).fit(X_train, y_train)

In [ ]:
# After fitting a model
explainer = shap.TreeExplainer(model)